{% extends 'layout.html.j2' %}
{% block content %}
    <div class="content-section">
    <h1>You Don't Have Permission to access this page! (403)</h1>
    <p>Please check you account and try again</p>
    </div>
{% endblock content %}
