{% extends 'layout.html.j2' %}
{% block content %}
    <div class="content-section">
    <h1>Oops... Something Went Wrong (500)</h1>
    <p>We are experiencing some trouble. Please try again later</p>
    </div>
{% endblock content %}
