

<div class="row" style="margin-right:3px; margin-left: 3px;">

    <button type="button" class="btn btn-light">
    <img class="rounded-circle header-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
    <span style="font-size: 1.25rem;">{{user.username}}<span></button>
        
        {% if favorite == 'true' %} 
            <a href="{{url_for('clips.user_book', username=user.username, title=title_selected, page=page_num, order_by=order_by)}}">
            <button class="btn btn-lg btn-light"><span style="font-size: 1rem;">All ({{(clips_count)}})<span></button>
            </a>
            <a href="{{url_for('clips.user_book', username=user.username, title=title_selected, page=page_num, order_by=order_by, favorite='true')}}">            
            <button class="btn btn-lg btn-light active"><span style="font-size: 1rem;">Hearts ({{(favorite_count)}})<span></button>
            </a>    

        {% else %} 
            <a href="{{url_for('clips.user_book', username=user.username, title=title_selected, page=page_num, order_by=order_by)}}">
            <button class="btn btn-lg btn-light active"><span style="font-size: 1rem;">All ({{(clips_count)}})<span></button>
            </a>
            <a href="{{url_for('clips.user_book', username=user.username, title=title_selected, page=page_num, order_by=order_by, favorite='true')}}">            
            <button class="btn btn-lg btn-light"><span style="font-size: 1rem;">Hearts ({{(favorite_count)}})<span></button>
            </a>
            
        {% endif %} 

        <button class="btn btn-secondary btn-light dropdown-toggle ml-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Order Clips By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if title_selected == None %}
            {% if order_by == 'page.asc()' %}
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='page.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Page</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='page.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Page</a>
            {% endif %}
            {% if order_by == 'page.desc()' %}
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='page.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Page</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='page.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Page</a>
            {% endif %}
            {% if order_by == 'date.asc()' %}
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='date.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Date</a>
            {% else %} 
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='date.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Date</a>
            {% endif %}
            {% if order_by == 'date.desc()' %}            
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='date.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Date</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='date.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Date</a>
            {% endif %}
            {% if order_by == 'author.asc()' %}
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='author.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Author</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='author.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Author</a>
            {% endif %}
            {% if order_by == 'author.desc()' %}
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='author.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}"> &darr; Author</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='author.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}"> &darr; Author</a>
            {% endif %}
            {% if order_by == 'title.asc()' %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='title.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Title</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='title.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Title</a>
            {% endif %}
            {% if order_by == 'title.asc()' %}            
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='title.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Title</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='title.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Title</a>
            {% endif %}
        {% else %}
            {% if order_by == 'page.asc()' %}
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='page.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Page</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='page.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Page</a>
            {% endif %}
            {% if order_by == 'page.desc()' %}
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='page.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Page</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='page.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Page</a>
            {% endif %}
            {% if order_by == 'date.asc()' %}
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='date.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Date</a>
            {% else %} 
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='date.asc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&uarr; Date</a>
            {% endif %}
            {% if order_by == 'date.desc()' %}            
                <a class="dropdown-item active" href="{{url_for('clips.user_book', order_by='date.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Date</a>
            {% else %}
                <a class="dropdown-item" href="{{url_for('clips.user_book', order_by='date.desc()', book_order=book_order, favorite=favorite, username=user.username, title=title_selected, page=page_num)}}">	&darr; Date</a>
            {% endif %}
        {% endif %}
        </div>

</div>