{% extends 'layout.html.j2' %}


{% block content %}
<div class="card text-center mb-3" style="min-width: 100%;">
    <div class="card-header navbar navbar-light ">
        <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('clips.discover')}}">Recent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('clips.discover', popular='true')}}">Popular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Hall of Fame</a>
        </li>
        </ul>
    </div>
 </div>


 <div class="card-columns">          
       
        {% for cu in clips_users %}
        <div class="card" style="">

                <div class="card-header">
                    <a class="no-style" style="font-size:1.5rem;" href="{{url_for('clips.user_book', username=cu[1].username, title=cu[0].title)}}">
                        <img class="rounded-circle header-img" src="{{ url_for('static', filename='profile_pics/' + cu[1].image_file) }}">
                        <span>{{cu[1].username}}</span>
                    </a>
                    <!-- cu[2] is the number of likes that clip has. See discover route for where it comes from -->
                    <span class="float-right" style="font-size:1.5rem;">{{cu[2][0]}}</span>
                    <span class="float-right" style="font-size:2rem;">
            

                    <!-- Not able to like ones own clip-->
                    {% if cu[1].id != current_user.id %}

                        <!-- Check if current user has already liked that clip-->
                        {% if cu[2][1] %}
                            <a href="{{url_for('clips.discover', dislike_id=cu[0].id)}}"><span class="badge float-right">❤</span></a>
                        {% else %}
                            <a href="{{url_for('clips.discover', like_id=cu[0].id)}}"><span class="badge float-right">♡</span></a>
                        {% endif %}
                        
                    {% else %}
                        <span class="badge float-right">♡</span>
                    

                    {% endif %}

                    
                       
                    </span>
                </div>

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p style="font-size:1.1rem;">{{ cu[0].clipping }}</p>
                        
                        <a class="no-style" href="{{url_for('clips.user_book', username=cu[1].username, title=cu[0].title)}}"> 
                            <footer class="blockquote-footer">
                                <cite>
                                {{ cu[0].title }}
                                    <small>{{ cu[0].author }}</small>
                                </cite>
                            </footer>
                        </a>
                            <div class="badge"> Page {{ cu[0].page }} </div>
                            <span class="badge float-right">{{ cu[0].date.strftime("%-d %b %Y") }}</span>
                        
                    </blockquote>
                </div>

                
        </div>
        {% endfor %}
    
</div> 

    <div class="row">
        {% for page_num in clips.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if clips.page == page_num %}
                            <a class="btn btn-info mb-4" href="{{url_for('clips.discover')}}">{{page_num}}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{url_for('clips.discover')}}">{{page_num}}</a>
                        {% endif %}
                        
                    {% else %}
                        ...
                    {% endif %}
        

        {% endfor %}
    </div>

    
{% endblock content %}


{% block right_sidebar %}

    <div class="card text-center mb-3" style="min-width: 100%;">
        <div class="navbar navbar-light mt-3">
            

            <a class="no-style" style="font-size:1.5rem;" href="{{url_for('clips.discover', reverse=(0 if reverse else 1), sort='clips_count')}}">
            <span class="" style="font-size:1.3rem;"><i class="fas fa-sort"></i> popular</span>
            </a>
            <a class="no-style" style="font-size:1.5rem;" href="{{url_for('clips.discover', reverse=(0 if reverse else 1), sort='last_active')}}">
            <span class="" style="font-size:1.3rem;"><i class="fas fa-sort"></i> activity</span>
            </a>
            <a class="no-style" style="font-size:1.5rem;" href="{{url_for('clips.discover', reverse=(0 if reverse else 1), sort='books_count')}}">
            <span class="" style="font-size:1.3rem;"><i class="fas fa-sort"></i> books</span>
            </a>
            <a class="no-style" style="font-size:1.5rem;" href="{{url_for('clips.discover', reverse=(0 if reverse else 1), sort='clips_count')}}">
            <span class="" style="font-size:1.3rem;"><i class="fas fa-sort"></i> clips</span>
            </a>
            
            
        </div>
     </div>
     
            <ul class="list-group">
            {% for user in users|sort(attribute=sort_attribute, reverse=reverse) %}
                    <a class="no-style" style="font-size:1.5rem;" href="{{url_for('clips.user_book', username=user.username)}}">
                    <li class="list-group-item">
                        <img class="rounded-circle header-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
                            <span>{{user.username}}</span>
                    </li>
                    <li class="list-group-item">
                    <span></span>
                    <span class="mt-0" style="font-size:1.0rem;"> <i class="fas fa-dog"></i> {{user.followers}} </span>
                    <span class="mr-1 float-right" style="font-size:1.0rem;"> <i class="far fa-file-alt"></i> {{user.clips_count}} </span>
                    <span class="mr-4 float-right" style="font-size:1.0rem;"> <i class="fas fa-book-open"></i> {{user.books_count}} </span>
                    <span class="mr-4 float-right" style="font-size:1.0rem;"> {{user.last_active}} days</span>
                    
                
                    </li>
                    </a>
        
            {% endfor %}
            
            </ul>
{% endblock right_sidebar %}