{% extends 'layout.html.j2' %}
{% block content %}
    {% for clip in clips.items %}
       <article class="media content-section">
            <div class="media-body">
                
                <p class="article-content">{{ clip.clipping }}</p>
                <div class="article-metadata" >
                <span class="text-muted">{{ clip.title }} - {{ clip.author }} </span>
                <span class="text-muted" style="position: absolute; right: 35px;">
                        Page {{ clip.page }} --- {{ clip.date.strftime("%d/%m/%y") }} </span>
                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in clips.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if clips.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num)}}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num)}}">{{page_num}}</a>
            {% endif %}
            
        {% else %}
            ...
        {% endif %}

    {% endfor %}
    
{% endblock content %}

{% block left_sidebar %}
            <ul class="list-group">
            {% for book in books%}
                <li class="list-group-item list-group-item-light">
                <a href="{{url_for('clips.user_book', username=user.username, title=book.title)}}">
                {{book.title}} </a></li>
            {% endfor %}
            </ul>

           

{% endblock left_sidebar %}