{% extends 'layout.html.j2' %}
{% block content %}
    {% for cu in clips_users %}
       <article class="media content-section">
            <div class="media-body">
                
                <p class="article-content">{{ cu[0].clipping }}</p>
                <div class="article-metadata">
                <small class="text-muted">{{ cu[0].author }} - {{ cu[0].title }}</small>
                </div>
                <div class="article-metadata">
                <small class="text-muted">Added by: <a href=#>{{ cu[1].username }}</a></small>
                <small class="text-muted">on {{ cu[0].date.strftime('%d-%m-%Y') }}</small>
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + cu[1].image_file) }}">
                </div>
            </div>
        </article>
    {% endfor %}
    {% for page_num in clips.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if clips.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num)}}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num)}}">{{page_num}}</a>
            {% endif %}
            
        {% else %}
            ...
        {% endif %}

    {% endfor %}
    
{% endblock content %}
    