{% extends 'layout.html.j2' %}

{% block content_header %}

{% include 'clip_sort.html.j2' with context%}

{% endblock content_header %}


{% block content %}

<div class="card-columns"> 

        {% for clip in clips.items %}
        <div class="card">
               
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p style="font-size:1.1rem;">{{ clip.clipping }}</p>
                        
                        
                        {% if clip.is_favorite %}
                            {% if user == current_user%}
                                <a href="{{url_for('clips.user_book', username=user.username, title=title_selected, page=page_num, order_by=order_by, favorite=favorite, favorite_id=clip.id)}}">
                                <span class="badge float-right">❤</span></a>
                            {% else %}
                                <span class="badge float-right">❤</span>
                            {% endif %}
                        {% else %}
                            {% if user == current_user%}
                                <a href="{{url_for('clips.user_book', username=user.username, title=title_selected, page=page_num, order_by=order_by, favorite=favorite, favorite_id=clip.id)}}">
                                <span class="badge float-right">♡</span></a>
                             {% else %}
                                <span class="badge float-right">♡</span>
                            {% endif %}
                        {% endif %}
                        
                        {% if title_selected != clip.title%}   
                        <a class="no-style" href="{{url_for('clips.user_book', username=user.username, title=clip.title)}}"> 
                        {% endif %}
                        <footer class="blockquote-footer">
                            <cite> {{ clip.title }}
                                <small>{{ clip.author }}</small>
                            </cite>
                        </footer>
                        
                        {% if title_selected != clip.title%}
                        </a>
                        {% endif %}
                    
                        <div class="badge"> Page {{ clip.page }} </div>
                        <span class="badge float-right">{{ clip.date.strftime("%-d %b %Y") }}</span>
                    </blockquote>
                </div>
        </div>
        {% endfor %}
 
</div> 

    <div class="row">
        {% for page_num in clips.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if clips.page == page_num %}
                            <a class="btn btn-info mb-4" href="{{url_for('clips.user_book', username=user.username, title=title_selected, page=page_num, order_by=order_by)}}">{{page_num}}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{url_for('clips.user_book', username=user.username, title=title_selected, page=page_num, order_by=order_by)}}">{{page_num}}</a>
                        {% endif %}
                        
                    {% else %}
                        ...
                    {% endif %}
        

        {% endfor %}
    </div>

    

{% endblock content %}


{% block sidebar_header %}
    {% include 'book_sort.html.j2' with context%}   
{% endblock sidebar_header %}  


{% block right_sidebar %}
     
            <ul class="list-group">
            <a href="{{url_for('clips.user_book', username=user.username)}}">
                    <li class="list-group-item list-group-item-light"> 	&uarr; All Books ({{(books_count)}})</li></a>
            {% for book in books%}
                {% if book.title == title_selected%}
                    <a href="{{url_for('clips.user_book', username=user.username, order_by=order_by, book_order=book_order)}}">
                    <li class="list-group-item list-group-item-dark">{{book.title}}
                    - <small>{{ book.author }}</small></li></a>
                    
                {% else %}
                    <a href="{{url_for('clips.user_book', username=user.username, title=book.title, order_by='page.asc()', book_order=book_order)}}">
                    <li class="list-group-item list-group-item-light">{{book.title}}</li>
                    </a>
                {% endif %}
            {% endfor %}
            
            </ul>
{% endblock right_sidebar %}